@mixin flexContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}

@mixin loginFormInputField {
  padding: 5px;
  width: 80%;
  border-radius: 20px;
  border: rgb(255, 255, 255, 0.5) solid;
  background: transparent;
  padding: 5px 15px;
  margin: 10px 0;
}

@mixin submitButton {
  color: white;
  padding: 5px;
  width: 80%;
  border-radius: 20px;
  background: #0c1d24;
  margin: 20px 0px !important;
  padding: 10px 15px;
  margin: 10px 0;
  border: none;
}

@mixin divider {
  color: white;
  font-size: 10px;
  display: flex;
  align-items: center;
}

@mixin dividerBefore {
  flex: 1;
  content: "";
  padding: 0.5px;
  background-color: rgb(255, 255, 255, 0.5);
  margin: 7px;
  width: 80%;
}

html,
body {
  height: 100%;
  background: url("/style/pictures/peakpx.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.loginSection {
  @include flexContainer;
  width: 400px;
  height: 400px;
  background: transparent;
  backdrop-filter: blur(20px);
  border: rgb(255, 255, 255, 0.5) solid;
  border-radius: 25px;
  // box-shadow: 2px 2px 2px 1px rgb(255, 255, 255, 0.5);
  padding: 10px;
  h2 {
    color: white;
    font-size: 40px;
    width: 80%;
    height: 15%;
    padding: 20px 0;
    text-align: center;
    border-bottom: 2px rgba(255, 255, 255, 0.5) solid;
    margin: 0;
  }
  form {
    padding-top: 20px;

    text-align: center;
    input[type="text"] {
      @include loginFormInputField;
    }
    input[type="password"] {
      @include loginFormInputField;
    }
    input[type="submit"] {
      @include submitButton;
    }
    ::placeholder {
      color: white;
    }
    .remember-me {
      display: flex;
      justify-content: center;
      label {
        color: white;
      }
      a {
        margin-left: 40px;
        color: black;
      }
    }
  }
}

.divider {
  @include divider;
}
.divider:after,
.divider:before {
  @include dividerBefore;
}
.alternateLogin {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.alternateLoginImage {
  width: 30px;
  height: 30px;
  margin: 0px 10px;
  padding: 5px;
  background-color: white;
  border-radius: 50px;
}
