// mixins

@mixin flexContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}

@mixin flexContainerRow {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
}

@mixin loginFormInputField {
  padding: 5px;
  width: 80%;
  border-radius: 20px;
  border: $colorBorder solid;
  background: transparent;
  padding: 5px 15px;
  margin: 10px 0;
}

@mixin submitButton {
  color: $colorWhite;
  padding: 5px;
  width: 80%;
  border-radius: 20px;
  background: $colorDarkGreen;
  margin: 20px 0px !important;
  padding: 10px 15px;
  margin: 10px 0;
  border: none;
}

@mixin divider {
  color: $colorWhite;
  font-size: 10px;
  display: flex;
  align-items: center;
}

@mixin dividerBefore {
  flex: 1;
  content: "";
  padding: 0.5px;
  background-color: $colorBorder;
  margin: 7px;
  width: 80%;
}

// Color variables
$colorWhite: white;
$colorDarkGreen: #0c1d24;
$colorGreen: rgba(15, 157, 122, 0.65);
$colorBorder: #ffffff80;
$colorBlack: #333333;
$colorYellow: #c8e690;
$transparent: transparent;
$blur: blur(20px);

html,
body {
  height: 100%;
  background: url("../public/style/pictures/peakpx.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

// LOGIN SECTION

.loginSection,
.registerSection {
  @include flexContainer;
  width: 400px;
  height: 470px;
  background: $transparent;
  backdrop-filter: $blur;
  border: $colorBorder solid;
  border-radius: 25px;
  // box-shadow: 2px 2px 2px 1px $colorBorder;
  padding: 10px;
  h2 {
    color: $colorWhite;
    font-size: 40px;
    width: 80%;
    height: 15%;
    padding: 20px 0;
    text-align: center;
    border-bottom: 2px $colorBorder solid;
    margin: 0;
  }
  form {
    padding-top: 20px;

    text-align: center;
    input[type="text"] {
      @include loginFormInputField;
    }
    input[type="password"] {
      @include loginFormInputField;
    }
    input[type="submit"] {
      @include submitButton;
    }
    input[type="file"]::file-selector-button {
      background: url(../public/style/pictures/mail-icon-2048x2048-525ey8hu.png);
    }
    ::placeholder {
      color: $colorWhite;
    }
    .remember-me {
      display: flex;
      justify-content: center;
      label {
        color: $colorWhite;
      }
      a {
        margin-left: 40px;
        color: $colorBlack;
      }
    }
  }
}

.registerSection {
  height: 490px;
  .avatarUpload {
    width: 20px;
    height: 20px;
  }
}

.divider {
  @include divider;
}
.divider:after,
.divider:before {
  @include dividerBefore;
}
.alternateLogin {
  @include flexContainer;
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  h6 {
    width: 100%;
    text-align: center;
    color: $colorWhite;
    font-size: 14px;
    font-weight: 500;
    margin: 20px 0;
    a {
      color: $colorYellow;
    }
  }
}

.alternateLoginImage {
  width: 30px;
  height: 30px;
  margin: 0px 10px;
  padding: 5px;
  background-color: $colorWhite;
  border-radius: 50px;
}

.mainPageHeader {
  color: white;
  z-index: 2;
}

// NAVIGATION

aside {
  position: absolute;
  top: 150px;
  left: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: start;
  background: $transparent;
  backdrop-filter: $blur;

  height: 70vh;
  border: 2px solid #0f9d79;
  width: 65px;
  border-radius: 15px;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 1.5 ease-in-out;
  // padding-left: 20px;
}

.navItemsContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  svg {
    padding: 0 10px;
  }
}

.navItem {
  padding: 15px 0px;
  font-size: 20px;
  color: $colorWhite;
}

aside.active {
  width: 150px;
  align-content: start;
  padding-left: 21px;
  transition: all 0.2s ease;
}

.hamburger {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 65px;
  height: 65px;
  border: 2px solid $colorGreen;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  background: $transparent;
  backdrop-filter: $blur;
  padding: 0;
}
.hamburger:hover {
  background-color: $colorDarkGreen;
  border: 2px solid $colorDarkGreen;
}

.faBars {
  font-size: 20px;
}

.faBars:hover {
  color: $colorWhite;
}
.hamburger:hover .faBars {
  color: $colorWhite;
}
.navBarText {
  // display: none;
  transition: all 0.2s ease;
  padding-left: 0px;
  width: 0px;
  opacity: 0;
  display: inline-block;
}
aside.active .navBarText {
  transition-delay: 0.2s;
  width: 100px;
  opacity: 1;
}

.navItem:hover {
  color: $colorYellow;
}

.logout {
  position: absolute;
  bottom: 10px;
}

.messagesSection {
  ul {
    list-style: none;
    li {
      color: white;
    }
  }
}

// MAINPAGE

.chatContainer {
  @include flexContainerRow;
  //
  position: absolute;
  top: 150px;
  left: 180px;
  margin-right: 50px;
  background: $transparent;
  backdrop-filter: $blur;

  height: 70vh;
  border: 2px solid #0f9d79;
  width: calc(85vw - 50px);
  border-radius: 15px;
  transition: all 0.2s ease;
}

.chatContainer.chatActive {
  left: 300px;
  width: calc(80vw - 120px);
}

.sideContainer {
  width: 20%;
  height: 100%;
  border-right: 2px solid #0f9d79;
  border-radius: 15px 0 0 15px;
  background-color: #0c1d24a0;
}

// SEARCH
.searchContainer {
  width: 100%;
  height: 30px;
  border-bottom: 2px solid rgba(236, 232, 232, 0.304);
  input {
    background-color: $transparent;
    width: 100%;
    height: 30px;
    border: 0;
    color: rgba(255, 255, 255, 0.579);
  }

  .chatsContainer {
    @include flexContainer;
    align-content: flex-start;
    width: inherit;
    .singleChat {
      @include flexContainerRow;
      border-bottom: 1px solid grey;
      width: inherit;
      padding: 15px;

      img {
        width: 60px;
        height: 60px;
        border-radius: 50px;
        object-fit: cover;
        margin-right: 15px;
      }
      p {
        color: white;
      }
    }
  }
}

// CHATS
